<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Finance Survey</title>
        <link rel="stylesheet" href="../../static/mystyle.css">
    </head>

    <body>
        <div class="page_top">

            <a class="home_button" href="{{ url_for('home') }}">Go home</a>
            <h1 class="survey_banner">Personal Finance Survey</h1>
            
            <p>Thanks for taking the time to complete this survey!</p>
            <p>I'm a sucker for a good personal budget, however I'm very much aware that this is not the case for most people.</p>
            <p>I'd like to see how my circle handles their finances and, hopefully, we'll see we're all much more alike than we think.</p>
            <p>This survey is anonymous, so no pressure, just answer the questions to the best of your ability!</p>
            <br>

        </div>

        <br>
        <br>


        <form id="finance_survey" action="{{ url_for('wip') }}" method="POST">
            <p>How old are you?</p>
            <input type="radio" name="age" id="18-24" value="18-24" required>
            <label for="18-24">18-24</label>
            <input type="radio" name="age" id="25-34" value="25-34">
            <label for="25-34">25-34</label>
            <input type="radio" name="age" id="35-44" value="35-44">
            <label for="35-44">35-44</label>
            <input type="radio" name="age" id="45-54" value="45-54">
            <label for="45-54">45-54</label>
            <input type="radio" name="age" id="55+" value="55+">
            <label for="55+">55+</label>

            <br>
            <br>
            <br>

            <p>How many other people do you live with?</p>
            <input type="radio" name="household" id="alone" value="alone" required>
            <label for="alone">I live alone</label>
            <input type="radio" name="household" id="1" value="1">
            <label for="1">1</label>
            <input type="radio" name="household" id="2" value="2">
            <label for="2">2</label>
            <input type="radio" name="household" id="3" value="3">
            <label for="3">3</label>
            <input type="radio" name="household" id="4+" value="4+">
            <label for="4+">4+</label>

            <br>
            <br>
            <br>

            <label for="income">What is your estimated annual income before taxes? $</label>
            <input type="number" min="0" max="1000000000" id="income" name="income" required>
            <div id="incomeError" class="pass"></div>

            <br>
            <br>
            <br>
            
            <label for="rent">What is your monthly rent amount (or mortgage)? $</label>
            <input type="number" min="0" max="10000000" id="rent" name="rent" required>
            <div id="rentError" class="pass"></div>

            <br>
            <br>
            <br>

            <label for="savings">On average, how much would you say you put into savings each month? $</label>
            <input type="number" min="0" max="10000000" id="savings" name="savings" required>
            <div id="savingsError" class="pass"></div>

            <br>
            <br>
            <br>

            <label for="emergency">If an unexpected emergency happened today, what is the largest expense you could pay in cash without borrowing money? $</label>
            <input type="number" min="0" max="1000000000" id="emergency" name="emergency" required>
            <div id="emergencyError" class="pass"></div>

            <br>
            <br>
            <br>

            <input type="submit" id="submit" value="Submit">

            <script src="../../static/validation.js"></script>


        </form>
    
    </body>
</html>