body {
    background-image: url("backdrop.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

* {
    text-align: center;
    font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif;
}

.main_header {
    color: black;
    font-size: 44px;
}

.centered_img {
    display: block;
    margin: 0 auto;
}