body {
    margin: 0;
    padding: 0;
    background-image: url("backdrop.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

* {
    text-align: center;
    font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif;
}

.main_banner {
    border-style: none none groove none;
    border-color: rgb(200, 182, 164);
    background-color: linen;
    padding: 20px 20px;
}

.home_button {
    display: block;
    text-align: left;
}

.survey_banner {
    margin-top: 15px;
    display: inline-block;
    color: black;
    background-color: linen;
    border-style: groove;
    border-radius: 8px;
    border-width: 4px;
    border-color: black;
    padding: 15px 15px;
}

.page_top {
    margin: 0;
    padding: 0;
    border-style: none none dotted none;
    border-color: rgb(200, 182, 164);
}

.main_banner h1 {
    font-family: Times, 'Times New Roman', Georgia, serif;
    color: black;
    font-size: 44px;
    text-align: center;
}

.centered_img {
    display: block;
    margin: 0 auto;
    border-style: solid;
    border-color: whitesmoke;
}

.link_button {
    display: inline-block;
    color: black;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    padding: 8px 8px;
    text-decoration: none;
}

.link_button:hover {
    background-color: lightblue;
}

.link_button:active {
    background-color: lightgreen;
}

input[type="radio"] {
    margin-left: 25px;
}

input[type="text"] {
    display: inline-block;
}

.pass {
    display: none
}

.error {
    display: block;
    color: red;
    background-color: white;
    border: solid red;
    padding: 4px 10px;
    width: 18%;
    margin: 4px auto;
}